@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: 'Nunito Sans', sans-serif;
}

/*styles pour les liens*/
.links{
  transition: 0.3s;
  text-decoration: none;
  color: white;
}

/*styles pour header*/
.navbar-nav .nav-link.active {
    font-weight: bold;
    text-decoration: underline;
}

.nav-link:hover {
text-decoration: underline;
}
/*style pour footer*/
.linkssocials{
text-decoration: none;
color: gray;
transition: 0.3s;
}

.linkssocials:hover{
color: white;
filter: brightness(1.2);
}

.linksfooter:hover{
  font-weight: bold;
}
